@import "variables";

div.svg-button {
	cursor: pointer;
	text-align: left;
	align-self: center;
	justify-self: flex-start;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	min-width: auto;
	flex-grow: 0;
	flex-wrap: nowrap;
	width: 100%;

	div.label {
		flex-basis: min-content;
		/*overflow: hidden;*/
		min-width: 0;
		flex-wrap: nowrap;
		padding-left: 0.5ch;
		font-size: 120%;

		h3, h4, p {
			margin: 0;
			white-space: nowrap;
		}

		h3 {
			margin-bottom: -8%;
			margin-top: 2%
		}

		p {
			margin-top: -8%;
			margin-bottom: 2%;
		}
	}

	svg {
		height: 6ex;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 12.5%;
		overflow: visible;
		padding: 0% 2%;
		stroke: $sp-accent;
		fill: $sp-accent;
		font-size: 100%;

		text {
			text-anchor: middle;
			text-align: center;
			transform-origin: 50% 50%;
			transform: translate(58%, 75%) rotate(-4deg);
		}
	}

	&.right {
		text-align: right;
		flex-direction: row-reverse;
	}
}

div.top-bar {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr;
	/*width: 80%;*/
	min-width: 79%;
	max-width: 96%;
	max-height: 5%;
	border-bottom: 1px solid grey;
	padding-bottom: 0.5%;
	margin: 0.5% 0;

	h1 {
		margin: auto;
		flex-basis: auto;
		/*flex-grow: 1;*/
		/*justify-self: center;*/
	}

	h2 {
		margin: auto 0;
		/*flex-grow: 1;*/
		text-align: right;
		flex-basis: auto;
		justify-self: flex-end;
	}
}