@import "variables";

.popup-bg {
	z-index: 10000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
	height: 80vh;
	background-color: rgba(179, 179, 179, 0.9);
	/*border: 5px dashed var(--accent-comp);*/
	border-radius: 20px;
}

.popup_content {
	width: calc(70vw - 4vh);
	height: 76vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px dashed $accent-comp2;
	border-radius: 20px;
	text-align: center;
}

.blurred {
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(4px);
	position: fixed;
	top: 0;
	left: 0;

	transition: all 400ms;
	visibility: initial;
	opacity: 1;
}

.popup_close {
	z-index: 11000;
	position: fixed;
	height: 5%;
	stroke: white;
	stroke-width: 1.9;
	stroke-linecap: round;
	stroke-linejoin: round;
	right: 2vh;
	top: 2vh;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}