<!DOCTYPE html>
<html lang="en" id="onload">
<head>
	<meta charset="UTF-8">
	<!--get some fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> <!--Roboto-->
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> <!--Bebas Neue-->
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> <!--Poppins-->

	<title>{{ title }}</title>

    {% if external_js is defined %}
        {% for url in external_js %}
            <script type="text/javascript" src="{{ url }}"></script>
        {% endfor %}
    {% endif %}

	<!-- import site css -->
	{% set css = ["layout.css", "page_fader.css"] + css %}
	<!--suppress HtmlUnknownTarget -->
	<link rel="stylesheet" type="text/css" href="/static?t=css&q={{ "+".join(css) }}">
	<!-- import site javascript -->
	{% set js = ["page_fader.js"] + js %}
	<!--suppress HtmlUnknownTarget -->
	<script type="text/javascript" src="/static?t=js&q={{ "+".join(js) }}"></script>
</head>
<body id="body" onload="fadePage()">
	<div class="navbar">
		{% for item in nav[current_user.id] %}
			<button {{ 'id=active' if item.is_active }} onclick="fadePage();window.location.href='{{ item.url }}';">
				{{ item.label }}
			</button>
		{% endfor %}
	</div>
	<div class="content fade-out" id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>