.create-post {
    margin-top: 1%;
    min-width: 60%;
    padding: 1.5%;
    border: 3px solid var(--sp-accent);
    border-radius: 10px;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.create-post h1 {
    /*flex-shrink: 1;*/
    /*width: 0;*/
    /*max-width: 50%;*/
}

.buttons button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 110%;
    padding: 2.5% 3.5%;
    border: 3px solid var(--sp-accent);
    border-radius: 5px;
    cursor: pointer;
    transition: filter 300ms;
    width: fit-content;
}

button:hover {
    filter: brightness(85%);
}

.buttons {
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    flex-grow: 1;
    text-align: right;
    min-width: 40%;
    max-width: 50%;
    /*padding-right: 6.7%;*/
}

button#from-scratch {
    background-color: var(--sp-accent);
    color: white;
    margin-left: 3%;
}

button#from-word {
    border-color: var(--accent-comp);
}

.your-posts {
    margin-top: 1%;
    min-width: 60%;
    padding: 1.5%;
    border: 3px solid var(--sp-accent);
    border-radius: 10px;
}

.sep {
    padding-left: 2em;
}

.views {
    display: inline;
    float: right;
    margin-right: 0.75em;
}

.views svg {
    position: relative;
    top: 0.2em;
    height: 1.2em;
    margin: auto;
}

h1 {
    margin: 0;
}

form#dropArea {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form#dropArea label u {
    cursor: pointer;
    text-underline: white;
}

.upload_button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 110%;
    padding: 2.5% 3.5%;
    border: 3px solid var(--accent-comp);
    border-radius: 5px;
    cursor: pointer;
    transition: filter 300ms;
    width: fit-content;
    text-align: center;
    align-self: center;
}

.highlight {
    border-color: #00ffff !important;
}

.hidden_flex {
    display: none;
}