:root {
	--sp-accent: #ba413d;
	--accent-comp: #3CB5B9;
	--accent-comp2: #3cc9cd;
}

.navbar {
	display: flex;
	justify-content: center;
	flex-direction: row;
	max-height: 10vh;
	flex-wrap: nowrap;
	color: white;
	background-color: #aaaaaa;
	height: auto;
	margin: auto;
	z-index: 999999;
}

.navbar button {
	background-color: inherit;
	list-style-type: none;
	border: none;
	border-bottom: var(--sp-accent) 1px solid;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	margin: 0 2%;
	transition: all 200ms;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 120%;
	/*width: 25%;*/
}

.navbar button:hover {
	background-color: #999;
	border-bottom: var(--sp-accent) 3px solid;
}

.navbar button#active {
	background-color: #a0a0a0;
	border-bottom: var(--sp-accent) 3px solid;
	font-weight: bolder;
	text-decoration: underline;
}

.content {
	font-family: Poppins, sans-serif;
}

.flex-container {
    display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Poppins, sans-serif;
}

.link {
	cursor: pointer;
}

hr {
	width: 100%;
}

body {
	margin: 0;
}
